.page-template-default,
.single-news_post {
	.entry-content {
		padding-top: 3.45rem;
		padding-bottom: 2.7rem;
		@include breakpoint(medium) {
			padding-top: 7.45rem;
		}
		
		h2,
		h3,
		h4 {
			@include breakpoint(medium) {
				margin-top: 2.5rem;
			}
		}
		
		> div > div > div > *:first-child {
			margin-top: 0 !important;
		}
		
	}
}