.page-template-page-facilities {
	.facilities {
		padding-top: 4.35rem;
		padding-bottom: 1.9rem;
		.underlined-h2-wrap {
			margin-bottom: 4rem;
		}
		article.facility {
			margin-bottom: 2rem;
			h3 {
				margin: 0.65rem 1rem 1rem;
			}
		}
	}
}

.single-facility {
	
	.banner {
		.btn-wrap {
			padding-top: 0.65rem;
		}
	}
	
	.entry-content {
		padding-top: 5.1rem;
		padding-bottom: 3.5rem;
	}
	
	.overview {
		padding-bottom: 5rem;
		.underlined-h2-wrap {
			margin-bottom: 2.48rem;
		}
	}
	
	.rates-wrap {
		.underlined-h2-wrap {
			padding-bottom: 1.82rem;
		}
		.rate-row {
			padding-bottom: 2.9rem;
		}
		a {
			color: $text-gray;
		}
	}
	
	.facility-slider-wrap {
		.underlined-h2-wrap {
			padding-bottom: 1.75rem;
		}
		.facility-swiper-button-prev,
		.facility-swiper-button-next {
			cursor: pointer;
			position: absolute;
			z-index: 1;
			width: 30px;
			height: 30px;
			top: 50%;
			transform: translateY(-50%);
		}
		.facility-swiper-button-prev {
			left: 0;
		}
		.facility-swiper-button-next {
			right: 0;
		}
		
	}
	
}