.page-template-page-facilities {
	.facilities {
		padding-top: 4.35rem;
		h2 {
			margin-bottom: 4rem;
		}
		article.facility {
			margin-bottom: 2rem;
			h3 {
				margin: 0.65rem 1rem 1rem;
			}
		}
	}
}

.single-facility {
	
	.entry-content {
		padding-top: 5.1rem;
	}
	
	.overview {
		padding-bottom: 5rem;
		h2 {
			margin-bottom: 2.48rem;
		}
	}
	
}