.page-template-page-home {
	
	.entry-header {
		.bg.bg-1 {
			background-image: linear-gradient(180deg, $heading-blue 0%, $blue-color 100%);
		}
		
		.bg.bg-2 {
			background-image: linear-gradient(90.93deg, $blue-color 0%, rgba(106, 170, 228, 0.702) 41%, rgba(106, 170, 228, 0) 100%);
		}
		
		.bg.mask {
			background-color: rgba($blue-color, .665);
		}
		
		img {
			width: 93%;
			left: 7%;
		}
		
	}
	
	.news-events {
		background-image: linear-gradient(180deg, rgba(106, 170, 228, 0) 0%, rgba(73, 144, 204, 0) 4.9%, $blue-color 15.8%, $heading-blue 36.5%, $heading-blue 100%);
	}
	
}