.page-template-page-league {
	.button-links {
		padding-top: 0.53rem;
	}
	.contact-card {
		padding: 2.15rem 2.5rem .25rem;
		.card-row {
			padding-bottom: 1.35rem;
		}
	}
}

.page-template-page-league-sub-page {
	.entry-content {
		padding-top: 5.05rem;
		padding-bottom: 3.6rem;
		
		@include breakpoint(tablet) {
			.header-wrap {
				text-align: center;
			}
		}	
	}
}