.single-tournament {
	
	.sidebar {
		@include breakpoint(medium down) {
			margin-top: 2rem;
		}
	}
		
	.fee-types {
		padding: 2.75rem 1.8rem;
					
		p.heading-font.heading-blue-color {
			margin-bottom: 0.2rem;
		}
		
		.btn-wrap {
			padding-top: 0.8rem;
		}
		
	}
		
}