header.site-header {
	position: relative;
	z-index: 5555;
	transition: transform .5s ease;
	
	#top-bar-menu {
		
		li.logo {
			max-width: 160px;
			@include breakpoint(medium) {

			}
			@include breakpoint(tablet) {

			}
			a {
				padding: 0;
			}			
		}
			
		#main-nav {
			align-items: center;
			
			a {
				font-size: rem-calc(30);
				text-transform: uppercase;
				font-family: $heading-font;
				color: $white;
				transition: .25s ease;
				
				@include breakpoint(tablet) {
					font-size: rem-calc(20);
				}
				
				@include breakpoint(xlarge) {
					font-size: rem-calc(20);
				}
				
			}
			
			>li {
				margin: 1rem 0 1rem 2.5rem;
				
				> a {
					font-weight: 700;
					position: relative;
					padding: 0;
					
				&:hover {
					color: $primary-color;
					position: relative;
					&:after {
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						height: 4rem;
						display: block;
						top: 100%;
					}
				}
					
					span {
						&:before {
							content: '';
							width: calc(100% - 1rem);
							position: absolute;
							top: 0;
							height: 11px;
							background-color: transparent;
						}
					}
					
				&:hover {

				}
					
				}
				
			&.is-active,
			&.current-menu-ancestor {
				a {
					color: $primary-color;
				}
			}
				
			&.menu-item-has-children {
				
				ul.submenu {
					margin-top: 2.4rem;
					background-color: rgba($blue-color, .95);
					li {
						a {
							
							
						&:hover {

						}
							
						}
						
					}
				}
	
			}

			}
		}
		
		a.playerfirst-login {
			color: $white;
			text-transform: uppercase;
			font-weight: 700;
			font-size: rem-calc(14);
			line-height: 1.142;
			margin-left: 2.5rem;
			margin-left: 4.25rem;
			.logo-wrap {
				margin-right: 0.6rem;
			}
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    flex: 0 0 auto;
		    
		    a#menu-toggle {
			    padding: 0;
			    width: 36px;
			    height: 36px;
			    position: relative;
			    
			    span {
				    position: absolute;
				    left: 0;
				    right: 0;
				    width: 36px;
				    height: 4px;
				    background-color: $white;
					transition: all .3s ease;
				    
				    &:nth-child(1) {
					    top: 4px;
				    }

				    &:nth-child(2) {
					    top: 16px;
				    }
				    
				    &:nth-child(3) {
					    bottom: 4px;
				    }
				    				    
			    }
				
			&.clicked {
				span {
					&:nth-child(1) {
						top: 4px;
						transform: translate(0px, 12px) rotate(-45deg);
					}
			
					&:nth-child(2) {
						top: 16px;
						left: 50%;
						right: 100%;
						width: 0;
					}
					
					&:nth-child(3) {
						bottom: 4px;
						transform: translate(0px, -12px) rotate(45deg);
					}
				}				
			}
			    
		    }
		    
		}
	
	}
	
}