h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	text-transform: uppercase;
}

.heading-font {
	font-family: $heading-font;
}

.heading-blue-color {
	color: $heading-blue;
}

.text-gray-color {
	color: $text-gray;
}

.white-color {
	color: $white;
}

.blue-color {
	color: $blue-color;
}

.yellow-color {
	color: $yellow-color;
}

.yellow-bold {
	b,
	strong {
		color: $yellow-color;
	}
}