h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	text-transform: uppercase;
}

h6,
.h6 {
	font-weight: 400;
}

.heading-font {
	font-family: $heading-font;
}

.heading-blue-color {
	color: $heading-blue;
}

.text-gray-color {
	color: $text-gray;
}

.white-color {
	color: $white;
}

.blue-color {
	color: $blue-color;
}

.yellow-color {
	color: $yellow-color;
}

.yellow-bold {
	b,
	strong {
		color: $yellow-color;
	}
}

.blue-bold {
	b,
	strong {
		color: $blue-color;
	}
}

.text-shadow {
	text-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

// .h1-underlined,
// .h2-underlined {
// 	display: inline-block;
// 	position: relative;
// 	z-index: 0;
// 	text-shadow: 0px 3px 6px rgba(0,0,0,0.16);
// 	
// 	&:before {
// 		content: "";
// 		display: block;
// 		position: absolute;
// 		z-index: -1;
// 		left: 0;
// 		width: 100%;
// 	}
// 	
// 	&.underline-yellow {
// 		display: inline;
// 		box-shadow: inset 0 0rem transparent, inset 0 -0.75rem #D7E352;
// 	}
// }

.h1-underlined {
	// &:before {
	// 	bottom: .08em;
	// 	height: 0.75rem;
	// }
	&.underline-yellow {
		&.has-white-bg {
			display: inline;
			box-shadow: inset 0 -0.09em $white, inset 0 -0.35em $yellow-color;
		}
		&.has-dark-blue-bg {
			display: inline;
			box-shadow: inset 0 -0.09em $heading-blue, inset 0 -0.35em $yellow-color;
		}
	}
}

.h2-underlined {
	display: inline;
	box-shadow: inset 0 0rem transparent, inset 0 -0.75rem #D7E352;
}

.font-weight-light {
	font-weight: 300;
}