header.banner {
	.banner-gradient-wrap {
		padding-top: 6.0625rem;
		padding-bottom: 7.1545rem;
		@include breakpoint(medium) {
			padding-top: 9.0625rem;
			padding-bottom: 7.9375rem;
		}
	}
	
&.has-btns {
	padding-bottom: 6.1545rem;
	@include breakpoint(medium) {
		padding-bottom: 6.9375rem;
	}
}
	
	.button-links {
		> .cell {
			margin-bottom: 1rem;
		}
	}
}