.banner-text-links {
	padding-top: 1.3125rem;
	padding-bottom: 2.5rem;
	@include breakpoint(medium) {
		padding-top: 3.3125rem;
		padding-bottom: 3.3125rem;
	}
	.img-wrap {
		@include breakpoint(small down) {
			margin-bottom: 2rem;
		}
	}
	.text-wrap {
		@include breakpoint(xlarge) {
			padding-left: 5%;
		}
	}
	.underlined-h1-wrap {
		margin-bottom: .6rem;
	}
	.button-links {
		padding-top: 0.77rem;
		> .cell {
			padding-bottom: 2rem;
		}
	}
}